
.grid-container {
  display: grid;
  height: 100vh;
}


.ecom-main {
  grid-column: 2 / 10;
  display: grid;
  padding: 0 2rem;
  height: 100vh;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}
.ecom-card{
  width: 300px;
  border-radius:20px;
}


.loading-gif{
  display: flex;
  justify-content: center;
  align-items: center;
}