

.grid-container {
  display: grid;
  height: 100vh;
}

.wishlisted {
  color: var(--danger-color);
}
.ecom-main {
  grid-column: 3 / 6;
  display: grid;
  margin-top: 4rem;
  padding: 0 2rem;
  height: 100vh;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}

#wishlist-icon {
  position: absolute;
  top: 0;
  right: 0;
  font-size:1.8rem;
  cursor: pointer;
}

.loading-gif {
  display: flex;
  justify-content: center;
  align-items: center;
}
.ecom-card {
  border-radius: 20px;
  position: relative;
  box-shadow: none;
  width: 15rem;
}

.product-page-btn{
  width: 15rem;
  border-radius: 0;
}

.card-image{
  width: 15rem;
}

.blur-bg{
  filter: blur(2px);
  width: 15rem;
}

.out-of-stock-badge{
  background-color: var(--red-color);
  color: var(--white-color);
  position: absolute;
  top: 0;
  left: 0;
  padding: 5px;
}
@media only screen and (max-width: 1288px) {
  .ecom-main {
    grid-column: 4 / 6  ;
  }
}

@media only screen and (max-width: 1030px) {
  .ecom-main {
    grid-column: 5 / 6;
  }
}
@media only screen and (max-width: 800px) {
  .ecom-main {
    margin-top: 8rem;
  }
}

@media only screen and (max-width: 490px) {
  .ecom-main {
    margin-top: 12rem;
  }
}
