

.grid-container {
  display: grid;
  height: 100vh;
}

.wishlisted {
  color: var(--danger-color);
}
.ecom-main {
  grid-column: 3 / 6;
  display: grid;
  margin-top: 4rem;
  padding: 0 2rem;
  height: 100vh;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}
.ecom-card {
  border-radius: 20px;
  position: relative;

}
#wishlist-icon {
  position: absolute;
  top: 0;
  right: 0;
  font-size:1.8rem;
  cursor: pointer;
}

.loading-gif {
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-page-btn{
  width: 14rem;
}
@media only screen and (max-width: 1288px) {
  .ecom-main {
    grid-column: 4 / 6  ;
  }
}

@media only screen and (max-width: 1030px) {
  .ecom-main {
    grid-column: 5 / 6;
  }
}
@media only screen and (max-width: 800px) {
  .ecom-main {
    margin-top: 8rem;
  }
}

@media only screen and (max-width: 490px) {
  .ecom-main {
    margin-top: 12rem;
  }
}
