.ecom-header {
  border-bottom: 1px solid var(--grey-color);
  padding-bottom: 1rem;
}

.ecom-input {
  padding-left: 30px;
  height: 40px;
}


.standard-nav {
  display: flex;
  gap: 2rem;
  align-items: center;
  width: 100%;
  flex-wrap: wrap ;
}

.input-parent {
  width: 250px;
}

.left-side {
  margin-left: auto;
  display: flex;
  gap: 20px;
}

#ecom-search {
  position: absolute;
  left: 4px;
  top: 8px;
  cursor: pointer;
}

.black {
  color: var(--black-color);
}

.navlink:hover {
  color: var(--primary-color);
}

.login-btn{
  width: 200px;
}