.ecom-header {
  border-bottom: 1px solid var(--grey-color);
  position: fixed;
  padding: 1rem 2rem;
  margin-top: 0;
  z-index: 1;
  background-color: var(--accent-color);
  top: 0;
}

.ecom-input {
  padding-left: 30px;
  height: 40px;
}

.standard-nav {
  display: flex;
  gap: 2rem;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
  
}

.input-parent {
  width: 250px;
}

.left-side {
  margin-left: auto;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

#ecom-search {
  position: absolute;
  left: 4px;
  top: 8px;
  cursor: pointer;
}

.black {
  color: var(--black-color);
}

.navlink:hover {
  color: var(--primary-color);
}

.login-btn {
  width: 200px;
}

