.ecom-sidebar {
  padding: 2rem;
  box-shadow: 0px 0px 5px var(--grey-color);
}


input[type="range"]{
  width: 100%;
}
/* utilities */

.mr-half{
  margin-right: 0.5rem;
}


.space-between{
  align-items: center;
}


input[type=radio],input[type=checkbox] {
  transform:scale(1.3);
  cursor: pointer;
}

.scale {
  transition: all 0.5s ease-in-out;
  cursor: pointer;
}
.scale:hover {
  transform: scale(1.1);
}

/* button style */

.go-to-cart {
  width: 100%;
}

.clear-btn{
  letter-spacing:2px;
  color:var(--primary-color);
}
.clear-btn:hover {
  text-decoration: underline;
  
}


#ecom-hamburger {
  display: none;
  font-size: 2rem;
}
@media only screen and (max-width: 1088px) {
  .ecom-sidebar {
    display: none;
  }
  #ecom-hamburger {
    display: block;
  }
}

